<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TerrainXact</title>
        <link href="https://fonts.googleapis.com/css2?family=Avenir+Next+LT+Pro:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    
<body>
    <div class="slideshow">
        <img src="{{ url_for('static', filename='images/Background image.jpg') }}" class="active">
        <img src="{{ url_for('static', filename='images/ai-1.png') }}">
        <img src="{{ url_for('static', filename='images/tea-2.png') }}">
        <img src="{{ url_for('static', filename='images/final-image.png') }}">
        <img src="{{ url_for('static', filename='images/solarpanels.jpg') }}">
        <img src="{{ url_for('static', filename='images/tea.png') }}">
        <img src="{{ url_for('static', filename='images/terrain_background.png') }}">
    </div>
    <div class="navbar">
        <h1 class="title">TerrainXact</h1>
        <div class="logo-container">
            <a href="/">  <!-- Adds a link pointing to the homepage -->
                <img src="{{ url_for('static', filename='images/Tool-logo-1-removebg-preview (1).png') }}" alt="Tool Logo" class="tool-logo">
            </a>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/CIR.jpg') }}" alt="CIR Logo">
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Data Dropzone</h1>
        <a href="{{ url_for('static', filename='pdf/STANDARD OPERATING PROCEDURE_EXTRACTING-CONTOUR-DATA-NASA(ALOS_PALSAR)_INT_SV_V1.pdf') }}" class="pdf-link" target="_blank">Download Standard Operating Procedure</a>
        <form id="uploadForm" action="/mesh_contour/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="dem_file">Upload DEM (Raster) File:</label>
                <input type="file" id="dem_file" name="dem_file" accept=".tif,.tiff">
                <span class="file-success" id="dem_file_success"></span>
            </div>
            <div class="form-group">
                <label for="kml_file">Upload KML File:</label>
                <input type="file" id="kml_file" name="kml_file" accept=".kml">
                <span class="file-success" id="kml_file_success"></span>
            </div>
            <div class="form-group">
                <label>Select Processing Tasks:</label>
                <div class="checkbox-group">
                    <div>
                        <input type="checkbox" id="clipped_dem" name="output_options" value="clipped_dem">
                        <label for="clipped_dem">Clipped DEM (meters)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="contours_shp" name="output_options" value="contours_shp">
                        <label for="contours_shp">Contours (Shapefile)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="contours_dxf" name="output_options" value="contours_dxf">
                        <label for="contours_dxf">Contours (DXF)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="pvsyst_csv" name="output_options" value="pvsyst_csv">
                        <label for="pvsyst_csv">PVSyst Input (CSV)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="points_dxf_meters" name="output_options" value="points_dxf_meters">
                        <label for="points_dxf_meters">3D Points (DXF, meters)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="mesh_dxf" name="output_options" value="mesh_dxf">
                        <label for="mesh_dxf">Generated Mesh (DXF, meters)</label>
                    </div>
                </div>
            </div>
            <button type="submit">Process Files</button>
        </form>
        <div class="progress">
            <div class="progress-bar" id="progress-bar">Bringing the terrain to you...</div>
        </div>
        <div class="message" id="message"></div>
    </div>
    <div class="footer">
        &copy; 2024 TerrainXact. All rights reserved.
    </div>
    <div class="progress-circle" id="progress-circle"></div>
    <script>
        document.getElementById('dem_file').addEventListener('change', function() {
            var file = this.files[0];
            if (file) {
                uploadFile(file, 'dem_file_success');
            }
        });

        document.getElementById('kml_file').addEventListener('change', function() {
            var file = this.files[0];
            if (file) {
                uploadFile(file, 'kml_file_success');
            }
        });

        function uploadFile(file, successElementId) {
            var formData = new FormData();
            formData.append('file', file);

            var xhr = new XMLHttpRequest();
            var progressCircle = document.getElementById('progress-circle');
            var message = document.getElementById('message');

            progressCircle.style.display = 'block';

            xhr.open('POST', '/mesh_contour/upload-file', true);
            xhr.onload = function() {
                progressCircle.style.display = 'none';

                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById(successElementId).textContent = file.name + " - successfully uploaded";
                    // Store the reference to the uploaded file
                    document.getElementById(successElementId).setAttribute('data-file-id', response.file_id);
                } else {
                    message.textContent = 'Error uploading file.';
                    message.style.color = 'red';
                }
            };
            xhr.send(formData);
        }

        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            // Include references to the uploaded files
            var demFileId = document.getElementById('dem_file_success').getAttribute('data-file-id');
            var kmlFileId = document.getElementById('kml_file_success').getAttribute('data-file-id');

            formData.append('dem_file_id', demFileId);
            formData.append('kml_file_id', kmlFileId);

            var xhr = new XMLHttpRequest();
            var progressBar = document.getElementById('progress-bar');
            var progressContainer = document.querySelector('.progress');
            var progressCircle = document.getElementById('progress-circle');
            var message = document.getElementById('message');

            progressCircle.style.display = 'block';

            xhr.open('POST', '/mesh_contour/upload', true);
            xhr.responseType = 'blob';

            xhr.upload.addEventListener('progress', function(e) {
                if (e.lengthComputable) {
                    var percentComplete = (e.loaded / e.total) * 100;
                    progressBar.style.width = percentComplete + '%';
                    if (percentComplete < 100) {
                        progressContainer.style.display = 'block';
                    }
                }
            });

            xhr.onload = function() {
                progressCircle.style.display = 'none';

                if (xhr.status === 200) {
                    message.textContent = 'Files processed successfully!';
                    message.style.color = 'green';

                    var blob = xhr.response;
                    var kmlFileName = document.getElementById('kml_file').files[0].name;
                    var zipFileName = kmlFileName.substring(0, kmlFileName.lastIndexOf('.')) + '.zip';
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = zipFileName;
                    link.click();
                } else {
                    message.textContent = 'Error processing files.';
                    message.style.color = 'red';
                }
                progressContainer.style.display = 'none';
            };

            xhr.send(formData);
        });

        var slideIndex = 0;
        var slides = document.querySelectorAll('.slideshow img');
        function showSlides() {
            slides[slideIndex].classList.remove('active');
            slideIndex = (slideIndex + 1) % slides.length;
            slides[slideIndex].classList.add('active');
            setTimeout(showSlides, 5000); // Change image every 5 seconds
        }
        showSlides();
    </script>
</body>
</html>
